.board-tile {
  height: 50px;
  width: 50px;
  border-width: 0px;
  color: transparent;
  background-color: #FFF;
}
#gameBoard {
  display: inline-block;
  background-image: url("../images/img_forest.jpg")

}

.covered {
  opacity: 0.4
}

.uncovered {
  opacity: 0;
}

.player1:after {
  content: '/EC9B83';
}

.player2:after {
  content: '/EC9B83';  
}

#gameBoard span {
  position: relative;
}

#gameBoard svg {
  width: 35px;
  height: 35px;
  stroke-width: 2;
  stroke: yellow;
  fill: transparent;
  position: absolute;
  z-index: 2;
  overflow: visible;
  top: -2px;
  left: 18px;
}

#gameBoard svg.player2 {
  color: pink;
}

#gameBoard svg.player2 {
  color: yellow;
}


