#gameBoard {
  display: inline-block;
  background-image: url("../images/forest.jpg");
  background-position: center top;
}

.board-tile {
  height: 50px;
  width: 50px;
  border-width: 0px;
  color: transparent;
  background-color: #000;
}

#gameBoard .player1-high, #gameBoard .player1-mid, #gameBoard .player1-low {
  background-color: yellow;
}

#gameBoard .player2-high, #gameBoard .player2-mid, #gameBoard .player2-low {
  background-color: violet;
}

#gameBoard .player1-high, #gameBoard .player2-high {
  opacity: 0.45
}

#gameBoard .player1-mid, #gameBoard .player2-mid {
  opacity: 0.35
}

#gameBoard .player1-low, #gameBoard .player2-low {
  opacity: 0.25
}

#gameBoard .player1-mid {
  background-color: yellow;
}

#gameBoard .player1-low {
  background-color: yellow;
}

#gameBoard .allowPlayer2 {
  background-color: violet;
}

.covered {
  opacity: 0.3
}

.uncovered {
  opacity: 0;
}

#gameBoard span {
  position: relative;
}

#gameBoard svg {
  width: 35px;
  height: 35px;
  stroke-width: 2;
  fill: transparent;
  position: absolute;
  z-index: 2;
  overflow: visible;
  top: -2px;
  left: 12px;
}

#gameBoard svg.player1 {
  stroke: yellow;
}

#gameBoard svg.player2 {
  stroke: violet;
}

#gameBoard #exploded-mine {
  font-size: 40px;
  color: lightsalmon;
  position: absolute;
  z-index: 2;
  overflow: visible;
  top: -8px;
  left: 10px;
  font-weight: normal;
  text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em;
}
